<h2 id="movie-lists">Movie Lists</h2>

<ul>
  <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <li><%= link_to list.name, list_path(list) %>
      </div>
    </li>
  <% end %>
</ul>
