.navbar-lewagon {
    justify-content: space-between;
    background: #FEF5ED;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.dropdown {
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.55);
}

.navbar-expand-sm {
    padding-right: 1.5rem;
}

.fas .fa-popcorn {
    width: 40px;
}

.app-name {
    color: #16003B;
}